body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

body {
  background: url(assets/background.png) no-repeat center center fixed;
  background-size: cover;
  display: flex;
}

.tab-buttons {
  text-align: right;
  justify-content: space-between;
}

.content {
  text-align: center;
}

.links {
  text-align: left;
  justify-content: space-between;
}

img {
  border-radius: 50%;
}