<!DOCTYPE html>
<html lang="en">

<Head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../index.css" />
    <title>
        Yokina Hub
    </title>
</Head>

<Body>
    <div class="tab-buttons">
        <a id="posts" href="posts.html">Recomendações</a>
        <a id="works" href="works.html">Projetos</a>
    </div>
    <div class="descricao">
        <a href="../index.html">
            <img src="../assets/image_perfil.jpg" width="250" height="300" />
        </a>
</body>

</html>